apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps

commonLabels:
  app: insur-rag

resources:
- pvc.yaml
- deployment.yaml
- service.yaml
- ingress.yaml
- configmap.yaml
# - namespace.yaml # 如果 apps namespace 已經存在，這行可以註解掉

images:
- name: rag_web
  newName: registry.gitlab.com/choustudio/insur_rag
  newTag: "2026020504"
